{% extends "layout.html" %} {% block title %}2FA{% endblock %} {% block content
%}
<head>
  <link rel="stylesheet" href="/static/2fa.css" />
</head>
<div id="error-page">
  <div class="content">
    <h1>Two Factor Authentication Setup</h1>
    <p>
      You are almost done! Please start Google authenticator on your smartphone
      and scan the following QR Code with it:
    </p>
    <p><img id="qrcode" src="{{ url_for('auth.qrcode') }}" /></p>
    <div class="btns">
      <a href="{{ url_for('auth.login') }}">Login</a>
    </div>
  </div>
</div>
<!-- <p>I'm done, take me to the <a href="{{ url_for('auth.login') }}">Login</a> page!</p> -->

{% endblock %}
